<footer class="footer">
  <div class="footer-content">
    <p class="copyright">
      © {{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved.
    </p>
    <!-- 备案信息 -->
    <div class="beian" style="text-align: center; margin-top: 10px">
      <a
        href="https://beian.mps.gov.cn/#/query/webSearch?code=44030002006810"
        rel="noreferrer"
        target="_blank"
      >
        <img
          src="/assets/img/favicons/beian.png"
          alt="备案图标"
          style="
            width: 16px;
            height: 16px;
            vertical-align: middle;
            margin-right: 5px;
          "
        />
        粤公网安备44030002006810号</a
      >
      <span> | </span>
      <a
        href="https://beian.miit.gov.cn/"
        target="_blank"
        rel="noopener noreferrer"
        >粤ICP备2025408228号</a
      >
    </div>
  </div>
</footer>
